img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}

	.resource:hover {
		border: 1px solid #bbb;
	}
}

h1 {
	font-size: x-large;
	font-weight: 600;
}

a {
	text-decoration: underline;
	color: blue;
}

.masked-overflow {
	/* scroll bar width, for use in mask calculations */
	--scrollbar-width: 8px;

	/* mask fade distance, for use in mask calculations */
	--mask-height: 32px;

	/* If content exceeds height of container, overflow! */

	/* Our height limit */
	height: 300px;

	/* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
	padding-bottom: var(--mask-height);

	/* Keep some space between content and scrollbar */
	padding-right: 20px;

	/* The CSS mask */

	/* The content mask is a linear gradient from top to bottom */
	--mask-image-content: linear-gradient(to bottom,
			black var(--mask-height),
			black calc(100% - var(--mask-height)),
			transparent);

	/* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
	--mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

	/* The scrollbar mask is a black pixel */
	--mask-image-scrollbar: linear-gradient(black, black);

	/* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
	--mask-size-scrollbar: var(--scrollbar-width) 100%;

	/* Apply the mask image and mask size variables */
	mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
	mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

	/* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
	mask-position: 0 0, 100% 0;

	/* We don't repeat our mask images */
	mask-repeat: no-repeat, no-repeat;
}