img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}

	.resource:hover {
		border: 1px solid #bbb;
	}
}

.number-input {
	--PhoneInput-color--focus: #00000000;
	--PhoneInputInternationalIconPhone-opacity: 0.8;
	--PhoneInputInternationalIconGlobe-opacity: 0.65;
	--PhoneInputCountrySelect-marginRight: 0.35em;
	--PhoneInputCountrySelectArrow-width: 0.5em;
	--PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
	--PhoneInputCountrySelectArrow-borderWidth: 2px;
	--PhoneInputCountrySelectArrow-opacity: 1;
	--PhoneInputCountrySelectArrow-color: currentColor;
	--PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountrySelectArrow-transform: rotate(45deg);
	--PhoneInputCountryFlag-aspectRatio: 1.5;
	--PhoneInputCountryFlag-height: 30px;
	--PhoneInputCountryFlag-borderWidth: 0px;
	--PhoneInputCountryFlag-borderColor: rgba(0, 0, 0, 0.5);
	--PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountryFlag-backgroundColor--loading: rgba(0, 0, 0, 0.1);
	color: white;
}

.PhoneInputInput {
	width: 220px;
	height: 45px;
	padding: 5px;
	font-size: 25px;
	font-weight: 600;
}

.fade-right-enter {
	opacity: 0;
	transform: translateX(100%);
}

.fade-right-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 1000ms, transform 1000ms;
}

.fade-right-exit {
	opacity: 1;
	transform: translateX(0);
}

.fade-right-exit-active {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1000ms, transform 1000ms;
}

.fade-left-enter {
	opacity: 0;
	transform: translateX(-100%);
}

.fade-left-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 1000ms, transform 1000ms;
}

.fade-left-exit {
	opacity: 1;
	transform: translateX(0);
}

.fade-left-exit-active {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1000ms, transform 1000ms;
}


.anim-invisible {
	height: 0px;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;

	transition: opacity 300ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;

	transition: opacity 300ms;
}